@font-face {
  font-family: Jost;
  src:
    url('./public/assets/fonts/Jost-Regular.woff') format('woff'),
    url('./public/assets/fonts/Jost-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src:
    url('./public/assets/fonts/Jost-SemiBold.woff') format('woff'),
    url('./public/assets/fonts/Jost-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  src:
    url('./public/assets/fonts/Barlow-Regular.woff') format('woff'),
    url('./public/assets/fonts/Barlow-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  src:
    url('./public/assets/fonts/Barlow-Bold.woff') format('woff'),
    url('./public/assets/fonts/Barlow-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-family: jost, system-ui;
  --secondary-font-family: barlow, system-ui;
  --white: #fff;
  --gray-900: #0e0e0e;
  --gray-700: #555;
  --gray-400: #cdcdcd;
  --gray-300: #d8d8d8;
  --gray-50: #f8f8f8;
  --orange-500: #fb5b11;
  --orange-800: #d54702;
  --red-500: #ff282a;
  --green-400: #39ca6e;

  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--primary-font-family);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul,
ol,
li {
  list-style: none;
}

a {
  background-color: transparent;
  text-decoration: 'none';
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

/* h1 */
.main__title {
  color: var(--white);
  font-size: 15.8rem;
  line-height: 0.87;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.custom-img {
  width: 300px;
  height: 300px;
  line-height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.custom-bullet {
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  opacity: 1;
  background: indigo;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.footer {
  background-color: var(--gray-900);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  background-color: white;
}

.logo {
  width: 221px;
  height: 74px;
}

.form_container {
  background-color: var(--orange-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 184px;
  z-index: 10;
  transform: translateY(50%);
}

.black__container {
  width: 100%;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 50% auto;
}

.copyright {
  background-color: black;
  text-align: center;
}

#p_orange {
  color: var(--orange-800);
}
