@font-face {
  font-family: Jost;
  src:
    url('./public/assets/fonts/Jost-Regular.woff') format('woff'),
    url('./public/assets/fonts/Jost-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src:
    url('./public/assets/fonts/Jost-SemiBold.woff') format('woff'),
    url('./public/assets/fonts/Jost-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  src:
    url('./public/assets/fonts/Barlow-Regular.woff') format('woff'),
    url('./public/assets/fonts/Barlow-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  src:
    url('./public/assets/fonts/Barlow-Bold.woff') format('woff'),
    url('./public/assets/fonts/Barlow-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font-family: jost, system-ui;
  --secondary-font-family: barlow, system-ui;
  --white: #fff;
  --gray-900: #0e0e0e;
  --gray-700: #555;
  --gray-400: #cdcdcd;
  --gray-300: #d8d8d8;
  --gray-50: #f8f8f8;
  --orange-500: #fb5b11;
  --orange-800: #d54702;
  --red-500: #ff282a;
  --green-400: #39ca6e;

  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font-family);
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  gap: 142px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  font-family: var(--secondary-font-family);
  color: var(--gray-700);
}

ul,
ol,
li {
  list-style: none;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

/* styles for content: each block has the same width, centered  */
.content-container {
  margin-inline: auto;
  inline-size: clamp(270px, 70%, 1297px);
}

.button {
  display: flex;
  align-items: center;
  padding: 17px 35px;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6;
}

.button:focus-visible {
  outline: 2px solid #11b1fb;
  outline-offset: 4px;
}

.button__icon {
  margin-left: 10px;
  inline-size: 21.26px;
  aspect-ratio: 1;
  transition: transform 0.5s ease-in-out;
}

@media (any-hover: hover) {
  .button:hover .button__icon {
    transform: translateX(5px);
    transition: transform 0.3s ease-in-out;
  }
}

.button--primary {
  --hover-color: var(--orange-800);

  background-color: var(--orange-500);
  color: var(--white);
  transition:
    background-color 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

@media (any-hover: hover) {
  .button--primary:hover {
    background-color: var(--hover-color);
    transition: background-color 0.3s ease-in-out;
  }
}

.button--primary:active {
  transform: scale(0.98);
  background-color: var(--hover-color);
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

:is(.button--primary) .button__icon {
  fill: currentcolor;
}

.button--secondary {
  --hover-color: var(--gray-400);

  border: 1px solid var(--gray-900);
  background-color: transparent;
  color: var(--gray-900);
  transition:
    background-color 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

@media (any-hover: hover) {
  .button--secondary:hover {
    background-color: var(--hover-color);
    transition: background-color 0.3s ease-in-out;
  }
}

.button--secondary:active {
  transform: scale(0.98);
  background-color: var(--hover-color);
}

:is(.button--secondary) .button__icon {
  fill: currentcolor;
}

.subtitle {
  position: relative;
  padding-left: 25px;
  inline-size: fit-content;
  color: var(--gray-900);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6;
}

.subtitle::before {
  content: url('./public/assets/icons/line-short-orange.svg');
  position: absolute;
  top: -20%;
  left: 0;
}

.section__title {
  margin-bottom: 67px; /* not for latest services, how to process, our testimonial, our team member sections. please, rewrite this property for your section */
  color: var(--gray-900);
  font-weight: 600;
  font-size: 5.2rem;
  line-height: 1.2;
}

/* Header */
.header {
  position: relative;
  background-color: var(--gray-900);
  color: var(--white);
  font-family: var(--secondary-font-family);
}

.header::before {
  content: url('./public/assets/images/header-logo-bg.png');
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  grid-template-rows: auto auto;
  align-items: center;
  margin-inline: auto;
  inline-size: clamp(270px, 91%, 100%);
  z-index: 1;
}

.header__logo {
  grid-row: 1 / span 2;
  display: flex;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.info__list {
  display: flex;
  gap: 40px;
}

.info__item {
  display: flex;
  align-items: center;
  gap: 9px;
  color: var(--gray-400);
  font-size: 1.4rem;
  line-height: 1.7;
}

.info__icon {
  inline-size: 12px;
  aspect-ratio: 1;
}

.social__list {
  display: flex;
  gap: 20px;
}

.social__link {
  display: flex;
  inline-size: 10px;
  aspect-ratio: 1;
}

.header__nav {
  grid-column: 2;
  display: flex;
  padding: 31px 20px 32px;
}

.nav__list {
  display: flex;
  gap: 35px;
}

.nav__item {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6;
}

.nav__link {
  position: relative;
  transition: color 0.3s ease;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(35px);
  width: 0;
  height: 4px;
  background-color: var(--orange-500);
  transition: width 0.3s ease;
}

.nav__link--active {
  color: var(--orange-500);
}

.nav__link:hover::after,
.nav__link--active::after {
  width: 100%;
}

.header__contact {
  grid-column: 3;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  padding: 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.contact__button {
  margin-right: 14px;
  padding: 20px;
}

.contact__text {
  color: var(--gray-400);
  font-size: 1.4rem;
  line-height: 1.7;
}

.contact__phone {
  color: var(--white);
  font-family: var(--primary-font-family);
  font-weight: 600;
}

/* Hero section */
/* h1 */
.hero {
  position: relative;
  background-image: url('./public/assets/images/hero-full-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::before {
  content: url('./public/assets/images/tractor.png');
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-52%) translateY(44%);
}

.hero::after {
  content: url('./public/assets/images/1.png');
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(88%) translateY(100%);
}

.hero__container {
  margin-inline: auto;
  inline-size: clamp(270px, 85%, 100%);
  background-image: url('./public/assets/images/main-hero-group.png');
  background-repeat: no-repeat;
  background-position: right center;
}

.hero__content {
  padding-block: 198px 202px;
  padding-left: 2%;
  max-inline-size: 60%;
}

.hero__title {
  margin-bottom: 6px;
  color: var(--white);
  font-size: 15.8rem;
  line-height: 0.87;
}

.hero__text {
  margin-bottom: 43px;
  max-inline-size: 80%;
  color: var(--gray-300);
  font-size: 2.4rem;
  line-height: 1.4;
}

/* Company status section */
.company-status {
  position: relative;
  text-align: center;
}

.company-status::before {
  content: url('./public//assets/images/left_scheme.png');
  position: absolute;
  left: 0;
  bottom: 18px;
}

:is(.company-status) .subtitle {
  margin-bottom: 14px;
  margin-inline: auto;
}

.company-status__list {
  display: flex;
  gap: 24px;
}

.company-status__card {
  flex: 0 1 25%;
  padding: 50px 47px;
  background-color: var(--gray-50);
  color: var(--gray-900);
  font-weight: 600;
  text-align: center;
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

@media (any-hover: hover) {
  .company-status__card:hover {
    background-color: var(--orange-500);
    color: var(--white);
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out;
  }
}

.card__value {
  margin-bottom: 10px;
  font-size: 5.2rem;
  line-height: 1.2;
}

.card__text {
  font-size: 2.4rem;
  line-height: 1.4;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

h4.slide__content__heading {
  font-size: 3.2rem;
  color: var(--white);
  text-align: left;
}

.swiper--basic__navigation {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.swiper--basic__navigation--bottom {
  margin-top: 52px;
}

.swiper--basic__navigation--top {
  /* add styles here if needed */
}

.swiper--basic .arrow {
  z-index: 5;
}

.arrow__icon {
  width: 48px;
  height: 20px;
}

.arrow:hover .arrow__icon {
  fill: var(--orange-500);
}

.swiper--basic .arrow.arrow-left {
  left: 0;
}

.swiper--basic .arrow.arrow-right {
  right: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide__content {
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  left: 30px;
  margin-inline: auto;
  width: fit-content;
}

.swiper-slide__content p {
  color: var(--white);
}

.slide__content__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.swiper-slide:hover .swiper-slide__content {
  visibility: visible;
}

.custom-img {
  width: 300px;
  height: 300px;
  line-height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* About us slider */
.swiper--about .swiper-wrapper {
  height: 332px;
}

/* Our projects slider */
.swiper--projects .swiper-wrapper {
  height: 443px;
}

.projects__header {
  display: flex;
  justify-content: space-between;
}

/* Swiper ends */

/* Cards Price */

.cards {
  display: flex;
}

.center-div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card__price {
  border: 1px solid var(--gray-700);
  padding: 25px;
  width: 400px;
  height: 500px;
  position: relative;
  margin-right: 25px;
}

@media (any-hover: hover) {
  .hover-orange:hover {
    background-color: var(--orange-500);
    color: #fff;
    transition: background-color 0.3s ease-in-out;
  }

  .hover-orange:hover + .angle {
    transition: transform 0.3s ease-in-out;
    background-color: var(--orange-500); /* Пример изменения цвета */
  }
}

.price-heading,
.star {
  display: flex;
}

.price-heading h4 {
  font-size: 32px;
}

.price-heading p {
  font-size: 16px;
  transform: translateY(15px);
}

.star img {
  margin-right: 5px;
  width: 14px;
}

.angle {
  background-color: var(--gray-900);
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
}

.special {
  background-color: var(--green-400);
  width: 100px;
  height: 30px;
  border-radius: 100px;
  top: 7px;
  left: 65%;
  position: absolute;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 31.9%);
}

.special_p {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
}

#list_style {
  border-top: 1px solid var(--gray-400);
  margin-top: 20px;
  margin-bottom: 60px;
  padding-top: 20px;
}

#list_style li {
  list-style: circle;
  line-height: 35px;
  text-transform: capitalize;
  font-size: 16px;
}

/* Footer block */
.footer {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.map {
  background-color: white;
  box-sizing: border-box;
  font-size: 0;
}

.logo {
  width: 221px;
  height: 74px;
  margin-bottom: 10px;
}

.form_container {
  position: absolute;
  top: 40%;
  background-color: var(--orange-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 184px;
  z-index: 10;
}

.black__container {
  background-color: var(--gray-900);
  width: 100%;
}

.footer-box {
  background-image: url('/public/assets/images/footer-bg.png');
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 637px;
}

.copy {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#p_orange {
  color: var(--orange-800);
  font-size: 1.6rem;
  font-weight: 400;
}

#p_white {
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.link_list {
  list-style: none;
}

.link_list-head {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 26px;
  font-family: var(--primary-font-family);
  margin-bottom: 10px;
}

.link_list-item a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 36px;
  font-family: var(--secondary-font-family);
  color: var(--gray-700);
}
