@font-face {
  font-family: Jost;
  src:
    url('./public/assets/fonts/Jost-Regular.woff') format('woff'),
    url('./public/assets/fonts/Jost-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src:
    url('./public/assets/fonts/Jost-SemiBold.woff') format('woff'),
    url('./public/assets/fonts/Jost-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  src:
    url('./public/assets/fonts/Barlow-Regular.woff') format('woff'),
    url('./public/assets/fonts/Barlow-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Barlow;
  src:
    url('./public/assets/fonts/Barlow-Bold.woff') format('woff'),
    url('./public/assets/fonts/Barlow-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Jost, Barlow, system-ui;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul,
ol,
li {
  list-style: none;
}

a {
  background-color: transparent;
  text-decoration: 'none';
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.custom-img {
  width: 300px;
  height: 300px;
  line-height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.custom-bullet {
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  opacity: 1;
  background: indigo;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
