<div class="swiper my-swiper swiper--about">
  <div class="swiper-wrapper"></div>
  <div class="my-swiper__navigation my-swiper__navigation--bottom">
    <button class="arrow arrow-left">
      <svg class="arrow__icon">
        <use xlink:href="/public/assets/icons/sprite.svg#arrow-left"></use>
      </svg>
    </button>
    <button class="arrow arrow-right">
      <svg class="arrow__icon">
        <use xlink:href="/public/assets/icons/sprite.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
