<div class="card__price">
  <div class="angle"></div>
  <div class="price-heading">
    <h4>$19.99</h4>
    <p>/M</p>
  </div>
  <div class="star">
    <img src="/public/assets/icons/card__star.svg" alt="star" />
    <p>Basic</p>
  </div>

  <ul id="list_style">
    <li>24/7 Free Hotline Service</li>
    <li>Chat Support</li>
    <li>5 Month After Delivery Support</li>
    <li>Support With 8 Engineers</li>
    <li>team management</li>
    <li>free digital marketing & analysis</li>
  </ul>

  <button class="button button--secondary" type="button">
    Start Free Trial
    <svg class="button__icon">
      <use xlink:href="./public/assets/icons/sprite.svg#arrow-up"></use>
    </svg>
  </button>
</div>
